body {
    font-family: Arial, sans-serif;
    background-color: #eef6f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #176B87;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #176B87;
    color: white;
    text-align: center;
    padding: 10px;
}
main img.Oso{
    width: 250px;
    margin: 20px auto;
    display: block;
}


main img.colibri {
    width: 250px;
    margin: 20px auto;
    display: block;
}
main img.rana {
    width: 250px;
    margin: 20px auto;
    display: block;
}


main img.comadreja {
    width: 250px;
    margin: 20px auto;
    display: block;
}
main img.Tingua {
    width: 250px;
    margin: 20px auto;
    display: block;
}
.caracteristicasColibri {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}

 .caracteristicasComadreja {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}
.caracteristicasOso {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}
.caracteristicasRana {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}
.caracteristicasTingua {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}